<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ooops - 404</title>
  <link rel='stylesheet' href='/style/common.css' />
  <link rel='stylesheet' href='/style/404.css' />
  <link rel='stylesheet' href='/style/normalize.css' />
</head>
<body>
  <header>
    <a href="https://ilifediary.com" id="logo">
      <img src="https://ilife.xinshu.me/production/assets/img/logo-iLifeDiary-02-01.32e9ae7.svg" alt="">
    </a>
  </header>
  <main>
    <img onclick="history.back()" draggable="false" src="https://ilife.xinshu.me/static/imagetc-404.jpg" alt="">
    <p>
      <span>访问页面不存在</span>
    </p>
    <p>
      <button class="ild-button" onclick="history.back()">点击返回</button>
    </p>
  </main>
</body>
</html>