<!DOCTYPE html>
<html>
  <head>
    <title><%= article.title %></title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel='stylesheet' href='/style/common.css' />
    <link rel='stylesheet' href='/style/article.css' />
    <link rel='stylesheet' href='/style/normalize.css' />
  </head>
  <body>
    <% include content/content.ejs %>
  </body>
</html>
