<!DOCTYPE html>
<html>
  <head>
    <title><%= article.title %></title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel='stylesheet' href='https://ilife.xinshu.me/static/style/common.css' />
    <link rel='stylesheet' href='https://ilife.xinshu.me/static/style/article.css' />
    <link rel='stylesheet' href='https://ilife.xinshu.me/static/style/normalize.css' />
  </head>
  <body>
    <% include content/content.ejs %>
  </body>
</html>
